.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  min-height: 100vh;

  font-family: var(--montserrat-font), sans-serif;

  section {
    padding: 34px 0;
    width: 100%;
      border-bottom: 1px solid rgba(138, 132, 116, .5);
    }

         .heading {
           flex: 0 0 16.66%;
           max-width: 16.66%;
           padding-right: 20px;
         }
}

.block {
  $vh: 8.51px;
  height: 100vh;
  height: calc($vh * 100);

  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

}
.innerBlock {
    width: fit-content;
      overflow: visible;
        
        border-top: 1px solid;
          border-bottom: 1px solid;
    
          .animated {
            display: flex;
            animation: slideLeft 15s linear infinite;
          
      h1 {
        
        margin-right: 32px;
        
        
        white-space: nowrap;
        font-size: 120px;
      }
            }

}

.floatingImages {
position: absolute;
  top: 0;
  left: 20%;
  height: 80%;
  width: 60%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

    .img1 {
        position: relative;
        top: 40%;
      }
    
      .img2 {
        position: relative;
        top: 45%;
        left: 0;
      }
    
      .img3 {
        position: relative;
        bottom: 15%;
        right: 5%;
      }

}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    /* Начальное положение */
  }

  100% {
    transform: translateX(-50%);
    /* Конечное положение (сдвиг влево на 100% ширины) */
  }
}

.section2 {
  display: flex;
  padding: 81px 0 !important;
  
  .iota, .date {
    font-size: 21px;
  }

  .iota {
    flex: 0 0 16%;
  }

  .date {
    flex: 0 0 16%;
    margin-left: 8%;
  }

  .description{
    flex: 0 0 60%;
    padding-left: 8%;
    font-size: 28px;
  }
}

.section3 {
  padding: 34px 0 94px 0 !important;
  display: flex;

  h1 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    color: #8a8474;
    font-weight: 400;
    font-size: 21px;
  }

  .expeditions {
    padding-left: 8%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
    display: flex;
    flex-flow: row wrap;

    .expedition {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 16px;
      font-size: 21px;
    }
  }
}


.section4 {

  display: flex;
  flex-flow: row wrap;

  .description1 {
    max-width: 100%;
    flex: 0 0 100%;

    font-size: 28px;
  }

  .experiences {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;

    .experience {
      margin-top: 81px;
      flex: 0 0 25%;
      max-width: 25%;

      h1{
        font-size: calc(52px + 4vw);
      }
    }
  }
}

.section5 {

    display: flex;
    flex-flow: row wrap;

    .timetable {
      flex: 0 0 100%;
      display: flex;
      justify-content: space-between ;
      flex-flow: row wrap;
    }
}

.section6 {
  
    display: flex;
    flex-flow: row wrap;

    .equipment{
      flex: 0 0 100%;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }
}

.section7 {
  padding: 34px 0 81px 0 !important;
  display: flex ;
  flex-flow: row wrap;


  .goodTeam {
    flex: 0 0 33.33%;

    h1{
    font-size: 21px;
    font-weight: 500;
    }
  }

  .ourMembers {
    flex: 0 0 50%;
    font-size: 28px;
  }

  .members {
    margin-top: 40px;
    flex:  0 0 100%;
    
  }
}

.section8 {
  padding: 34px 0 81px 0 !important;
  display: flex;
  flex-flow: row wrap;


  .info {
    flex: 0 0 33.33%;

   a {
    font-size: 28px;
    text-decoration: underline;
   }
  }

  .socialMedia {
    flex: 0 0 16.66%;
    display: flex;
    flex-flow: column;

    a {
       &:hover {
        text-decoration: underline;
       }
    }

    span {
      margin-top: 10px;
    }

  }
}

.nav {
  display: flex;
  flex-flow: row;
}